################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
/src/Teclyn.Core/bin/Debug/netstandard1.5
/src/.vs
/src/Teclyn.Core/obj/Debug/netstandard1.5
/src/Teclyn.Core.Tests/bin/Debug/netstandard1.5
/src/Teclyn.Core.Tests/obj/Debug/netstandard1.5
*.user
/src/Teclyn.Core/bin/Debug/netstandard1.6
/src/Teclyn.Core/obj/Debug/netstandard1.6
/src/Teclyn.Core.Tests/bin/Debug/netcoreapp1.0
/src/Teclyn.Core.Tests/obj/Debug/netcoreapp1.0
/src/dotnetcore/Teclyn.Core/bin/Debug
/src/dotnetcore/.vs
/src/dotnetcore/Teclyn.Core/obj/Debug
/src/dotnetcore/Teclyn.Core.Tests/bin/Debug/netcoreapp1.0
/src/dotnetcore/Teclyn.Core.Tests/obj/Debug/netcoreapp1.0
/src/pcl/Teclyn/packages
/src/pcl/Teclyn/Teclyn.Core/bin/Debug
/src/pcl/Teclyn/Teclyn.Core/obj/Debug
/src/pcl/Teclyn/Teclyn.Core.Tests/bin/Debug
/src/pcl/Teclyn/Teclyn.Core.Tests/obj/Debug
/src/pcl/Teclyn/Teclyn.SampleCore/bin/Debug
/src/pcl/Teclyn/Teclyn.SampleCore/obj/Debug
/src/pcl/Teclyn/Teclyn.StructureMap/bin/Debug
/src/pcl/Teclyn/Teclyn.StructureMap/obj/Debug
/src/pcl/Teclyn/Teclyn.AspNetMvc/obj/Debug
/src/pcl/Teclyn/Teclyn.AspNetMvc/bin/Debug
/src/pcl/Teclyn/Teclyn.SampleMvc/bin
/src/pcl/Teclyn/Teclyn.SampleMvc/obj/Debug
/src/pcl/Teclyn/.vs/config/applicationhost.config
/src/pcl/Teclyn/Teclyn.Mongodb/bin/Debug
/src/pcl/Teclyn/Teclyn.Mongodb/obj/Debug
/src/pcl/Teclyn/Teclyn.SampleConsole/bin/Debug
/src/pcl/Teclyn/Teclyn.SampleConsole/obj/Debug
/src/pcl/Teclyn/Teclyn.Sample.Domain/bin/Debug
/src/pcl/Teclyn/Teclyn.Sample.Domain/obj/Debug
/src/pcl/Teclyn/Teclyn.Sample.Domain.Tests/bin/Debug
/src/pcl/Teclyn/Teclyn.Sample.Domain.Tests/obj/Debug
