@model Teclyn.AspNetMvc.Mvc.Models.HomeInfoModel

@{
    Layout = null;
}

<table>
    <tr>
        <td>Teclyn Version</td>
        <td>@Model.TeclynVersion</td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>