@inherits System.Web.Mvc.WebViewPage<Teclyn.AspNetMvc.Mvc.Models.HomeInfoModel>
@*@model Teclyn.AspNetMvc.Mvc.Models.HomeInfoModel*@
@{
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>TEST</title>
</head>
<body>
<div>
      @Model.GetType().Name
</div>
</body>
</html>